@mixin makeKeyframe($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin font-face($fontFamily, $fontWeight, $fontSource) {
  @font-face {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    src: url($fa-font-path+'/'+$fontSource);
  }
}
