$ff-sans-serif--light: 'MillerDisplay-LightRegular',
  Helvetica, Arial, sans-serif;
$ff-sans-serif--regular: 'MillerDisplay-RomanRegular',
  Helvetica, Arial, sans-serif;

$ff-gillsans-medium: 'GillSans-MediumRegular', Helvetica,
  Arial, sans-serif;

$duration: 400ms;

$color-dull-brown: #ee8b24;
$color-black: #000000;
$color-brown: #1b0d0c;
$color-white: #ffffff;
